@font-face {
    font-family: 'The Youngest';
    src: local('The Youngest Serif Display'), local('The-Youngest-Serif-Display'),
        url('TYSerif-D.woff2') format('woff2'),
        url('TYSerif-D.woff') format('woff'),
        url('TYSerif-D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }